# **Stoke Dataset SVM x Decision Trees x Random Forest Performance Comparison**
by Dominador G. Dano Jr.

## **Dataset Description**

In [3]:
import pandas as pd

data = pd.read_csv('stroke.csv')
data_raw = data
data.head()

      id  gender   age  ...   bmi   smoking_status stroke
0   9046    Male  67.0  ...  36.6  formerly smoked      1
1  51676  Female  61.0  ...   NaN     never smoked      1
2  31112    Male  80.0  ...  32.5     never smoked      1
3  60182  Female  49.0  ...  34.4           smokes      1
4   1665  Female  79.0  ...  24.0     never smoked      1

[5 rows x 12 columns]

In [4]:
data.describe()

                 id          age  ...          bmi       stroke
count   5110.000000  5110.000000  ...  4909.000000  5110.000000
mean   36517.829354    43.226614  ...    28.893237     0.048728
std    21161.721625    22.612647  ...     7.854067     0.215320
min       67.000000     0.080000  ...    10.300000     0.000000
25%    17741.250000    25.000000  ...    23.500000     0.000000
50%    36932.000000    45.000000  ...    28.100000     0.000000
75%    54682.000000    61.000000  ...    33.100000     0.000000
max    72940.000000    82.000000  ...    97.600000     1.000000

[8 rows x 7 columns]

## **Duplicate Column Detection**

In [5]:
from library.preprocess import *

find_duplicate_columns(data)

'No duplicate columns found'

## **NaN/Missing Values Detection**
201 missing values was detected on "bmi" column

In [8]:
from library.preprocess import count_missing_values

count_missing_values(data)

               Column  Missing Values
0                  id               0
1              gender               0
2                 age               0
3        hypertension               0
4       heart_disease               0
5        ever_married               0
6           work_type               0
7      Residence_type               0
8   avg_glucose_level               0
9                 bmi             201
10     smoking_status               0
11             stroke               0

## **Outlier Detection**
IQR outlier detection for continuous columns

In [7]:
from library.preprocess import detect_outliers
detect_outliers(data, 'Age')

KeyError: 'Age'